html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui;
    margin: 0;
}





.container {
    --max-width: 50rem;
    width: min(100% - 2rem, var(--max-width));
    margin-inline: auto;
    position: relative;
    isolation: isolate;
    padding: 1em;
    margin-block: 5rem;
}



/* Navigation bar */

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #d8d8d8; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #454545;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgb(180, 180, 180);
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: #47c1f1;
  font-weight: bolder;
}