html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui;
    margin: 0;
}



.row {
  margin-left: 20%; /* Adjust this value to increase/decrease space */
  margin-right: 10%; /* Adjust this value to increase/decrease space */
  margin-top: 5%;
}

.column {
  float: left;
  
}

/* Left and right column */
.column.side {
  width: 25%;
  margin-right: 5%;
}

/* Middle column */
.column.middle {
  width: 65%;
  margin-left: 5%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* name (James Mitchell) */
.name {
  font-size: 45px;
}
/* paragraph under name */
.nameparagraph {
  margin-right: 30%;
}





/* Navigation bar */

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #d8d8d8; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #454545;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgb(180, 180, 180);
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: #47c1f1;
  font-weight: bolder;
}

.topnav a.github {
  color: #dcacf2;
}




/* NameDescription */
.namedescription {
  
}

.namedescription a {
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none; /*seems to get rid of the underline */
  color: #454545;

  padding-top: 100px;
}