*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: system-ui;
    margin: 0;
}


/* Header */
.header{
    background-color: #DB4A2B;
    text-align: center;
    /* padding: 25px; */
}
.header img {
    height: 100px;
    
}



/* Navigation Bar */
.navbar{
    background-color: hsl(0, 0%, 15%);
    height: 60px;
    display: flex;
    justify-content: center;
}
.navbar li {
    color: white;
    float: left;
    padding-right: 2.5%;
    padding-left: 2.5%;
    
    text-align: center;
    list-style-type: none;
    
}
.navbar li:hover {
    color: rgb(207, 207, 207);
}




aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}

