/* Default light mode styles */
/* :root {
  --bg-color: #ffffff;
  --text-color: #000000;
} */
/* body {
  background-color: var(--bg-color);
  color: var(--text-color);
} */
/* Dark mode styles */
/* .dark-mode {
  --bg-color: #000000; 
  --text-color: #ffffff; 
} */


html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui;
    margin: 0;
}



.row {
  margin-left: 15%; 
  margin-right: 10%; 
  margin-top: 5%;
}




.column {
  float: left;
  
}

/* Left and right column */
.column.side {
  width: 40%;
  margin-right: 5%;
  margin-bottom: 10%
}

/* Middle column */
.column.middle {
  width: 40%;
  margin-left: 5%;
  
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {     /* pixle length here determines how many pixles wide until stacking of columns */
  .column.side, .column.middle {
    width: 100%;
  }
}



/* name (James Mitchell) */
.name {
  font-size: 43px;
}
.university {
  /* color: #007bff; */
}
/* paragraph under name */
.nameparagraph {
  margin-right: 25%;
}



/* CSS for photo links */
.photo-links {
  margin-top: 20px;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
}

.photo-links a {
  display: inline-block; /* Make anchor tags behave like inline-block elements */
  margin-right:25px; /* Add spacing between links */
}

/* .photo-links button {
  display: inline-block; 
  margin-right:25px; 
} */

.photo-links img {
  width: 30px; /* Set the width of the images */
  height: auto; /* Automatically adjust height while maintaining aspect ratio */
}



/* CSS for project cards */
.projects {
  margin-top: 100px;
}
.project-card {
  /* border: 1px solid #ddd; Add a border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Add some padding */
  margin-bottom: 100px; /* Add space between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  /* max-width: 100%; */ /* Make sure images don't overflow */
  border-radius: 8px; /* Rounded corners for images */
}

.project-info {
  margin-top: 10px; /* Add space between image and info */
}

.project-info h3 {
  margin-top: 0; /* Remove default margin */
}

.project-info p {
  margin-bottom: 10px; /* Add space between paragraphs */
}

.project-info a {
  display: inline-block; /* Make the link a block element */
  background-color: #007bff; /* Blue background */
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
}

.project-info a:hover {
  background-color: #0071ea; /* Darker blue on hover */
  color: white;
}






/* Navigation bar */

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #d8d8d8; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #454545;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgb(180, 180, 180);
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #04AA6D; */
  color: #47c1f1;
  font-weight: bolder;
}

.topnav a.github {
  color: #dcacf2;
}




/* NameDescription */
.namedescription {
  
}

.namedescription a {
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none; /*seems to get rid of the underline */
  color: #454545;

  padding-top: 100px;
}

















/* Okay so this literally jsut sticks it stuck to the bottom of the screen so you cnat see content behind it so not good */
/* footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
  background-color: #f2f2f2; 
  padding: 20px; 
  text-align: center; 
} */
